@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
/* font-family: 'Yesteryear', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
/* font-family: 'Smythe', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/* font-family: 'Dancing Script', cursive; */

/* style generale qui reviens dans chaque pages sauf dans les pages liées 
à l'onglet Nos Boutiques qui ont elles un fichier style qui leur est propre */

  *, ::before, ::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
  }
  body {
      background-image: linear-gradient(0deg, black, #b79f7f);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
  }

  /* style de la partie header = chaque pages */
  header {
      max-height: 80px;
      width: 100%;
  }
  header nav {
      background-color: rgba(255, 255, 255, 0.4);
      border-bottom: black 4px solid;
  }
  header nav img {
      width: 200px;
      filter: sepia(95%);
  }
  header #navbarContent {
      justify-content: right;
      max-height: 100%;
      margin: 10px auto;
  }
  .navbar-item {
      margin: auto 10px;
      max-height: 100px;
      text-transform: uppercase;
  }
  #navbarContent ul li a {
      color: black;
      font-weight: 700;
      margin: 10px auto;
      text-decoration: none;
  }
  #navbarContent ul li .btn {
      color: black;
      border: 2px solid black;
      background-color: lightgrey;
      margin: 15px auto;
  }
  .items {
      margin: auto 10px;
      text-align: center;
      color: black;
      font-weight: 700;
  }
  .items:hover {
      margin: 80px 10px;
      text-align: center;
  }
  /* Sous liste 1 */
  .sous-liste {
      position: relative;
      display: none;
  }
  .items-sous-liste {
      height: 40px;
      list-style-type: none;
      word-break: break-word;
      text-align: center;
      padding: 0 10px;
      border-bottom: 1px solid black;
      margin: 0;
      position: relative;
  }
  .items-sous-liste:hover {
      background:rgb(175, 130, 88);
  }
  .items-sous-liste:nth-child(3) {
      height: 50px;
  }
  .items:hover > ul {
      display: block;
  }
  .dropdown-menu {
    background-color: transparent;
    border: none;
    min-width: 5rem;
  }

  /* début du footer = dans chaque pages */
  #footer {
    /* margin-top:auto; */
    padding: 10px auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* height: 65px; */
    background-color: rgba(255, 250, 250, 0.4);
  }
  footer ul {
    margin-top:10px;
  }
  footer ul li {
    margin: auto 15px;
  }
  footer ul li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  }
  footer ul li a:hover {
  color: snow;
  }
  /*     fin du footer     */
  .zoom {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  }
  .zoom:hover {
  -webkit-transform: scale(1.5);
        transform: scale(1.5);
  }
  .btn {
    color: black;
    border: 2px solid black;
    background-color: lightgrey;
  }
  @media screen and (min-width:320px) {
    footer ul li {
      margin: auto 8px;
    }
    footer ul li a p{
        font-size: .5rem;
    }
    footer div:nth-child(2) i{
        font-size: 1.2rem;
    }
  }
  @media screen and (min-width:425px) {
    footer ul li a p{
        font-size: .8rem;
    }
  }
  @media screen and (min-width:768px) {
    footer ul li {
      margin: auto 10px;
    }
    footer ul li a p{
        font-size: 1rem;
    }
  }
/* Fin de la partie identique à chaque pages hors liens nos boutiques */


/* style de la partie main */
.main {
    margin-top: 5rem;
    margin-bottom: 8rem;
}
.jumbotron {
    background-color: rgba(255, 250, 250, 0.3);
    min-height: 100vh;
    border-radius: 20px;
    border: 4px solid rgb(190, 177, 161);
}
.jumbotron .accueil__title {
    font-family: 'Smythe', cursive;
    font-size: 3rem;
}
.jumbotron img{
  width: 50%;
  border-radius: 20px ;
  border: 3px solid black;
  margin: 0px 10px 10px 10px;
}
.jumbotron .accueil__p h2{
  font-family: 'Yesteryear', cursive;
  font-size: 2rem;
}
.stretched-link .card-title {
    color: black;
    text-decoration: none;
}
.btn-price {
    color: black;
    background-color: lightgrey;
    border: 1px solid black;
}
@media screen and (min-width:320px) {
.main {
    margin-top: 3rem;
    margin-bottom: 8rem;
}
.jumbotron .accueil__title {
    font-size: 1.5rem;
    font-weight: bold;
}
.jumbotron img {
  width: 70%;
}
.jumbotron .accueil__p h2 {
  font-size: 1.2rem;
  font-weight: 600px;
}
.jumbotron .accueil__p q {
  font-size: .8rem;
  font-style: italic;
}
}
@media screen and (min-width: 550px) {
  .jumbotron img {
    width: 60%;
  }
}
@media screen and (min-width:768px) {
.main {
    margin-top: 4rem;
    margin-bottom: 8rem;
}
.jumbotron {
  padding: 1.5rem 1rem;
}
.jumbotron .accueil__title {
  font-size: 2rem;
  font-weight: bold;
}
.jumbotron img {
  width: 50%;
}
.jumbotron .accueil__p h2 {
  font-size: 1.4rem;
  font-weight: 600px;
}
.jumbotron .accueil__p q {
  font-size: 1rem;
  font-style: italic;
}
}
@media screen and (min-width: 950px) {
  .jumbotron {
    padding: 1.2rem 1rem;
  }
}
@media screen and (min-width: 992px) {
  .main {
    margin-top: 7rem;
    margin-bottom: 8rem;
  }
}
@media screen and (min-width:1024px) {
  .jumbotron {
    padding: 2rem 1rem;
  }
  .jumbotron .accueil__title {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .jumbotron img {
    width: 50%;
  }
  .jumbotron .accueil__p h2 {
    font-size: 1.7rem;
    font-weight: 600px;
  }
}
@media screen and (min-width:1280px) {
  .jumbotron .accueil__title {
    font-size: 2.8rem;
    font-weight: bold;
  }
  .jumbotron .accueil__p h2 {
    font-size: 2rem;
    font-weight: 600px;
  }
}


/* style carte produit page accueil */
#camCard {
  background-color: transparent;
}
.cardCam {
  background-color: transparent;
}
.cardCam h2 {
  margin: 30px auto;
  font-size: 3rem;
  font-weight: 600;
  color: black;
  font-family: 'Smythe', cursive;
}
.cardCam .card {
  display: block;
  grid-gap: 2rem;
  text-align: center;
  min-width: 300px;
  max-width: 100%;
  height: 100%;
  margin: 0px auto 20px;
  background: transparent;
  border: none;
}
.cardCam .card section {
  max-width: 1200px;
  margin: 25px auto;
  background-color: rgba(255, 250, 250, 0.5);
  color: black;
  border-radius: 20px;
  border: 3px solid #000;
}
.cardCam .card section img {
  display: block;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  border-radius: 10px;
  margin: 5px auto 15px;
  border: 3px solid black;
}
.cardCam .card section div a{
  font-size: 1.6rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  padding: 10px 25px;
  color: black;
  margin-bottom: 5px;
}
.cardCam .card section div a, 
.cardCam .card section div h3{
  font-family: 'Smythe', cursive;
}
.cardCam .card section div a, 
.cardCam .card section div h3 {
  margin: 20px 0;
  font-weight: 600;
  margin: 0px auto ;
  color: black;
}
.cardCam .card section div h3 {
  font-size: 1.8rem;
  margin-top: 5px;
}
.cardCam .card section div p {
  margin: 5px 65px;
  font-size: 1rem;
  font-family: 'Yesteryear', cursive;
}
.cardCam .card section div a:hover {
  color: snow;
  background-color: #000000;
  border-radius: 5px;
}
@media screen and (min-width:320px) and (max-width:545px) {
  .cardCam .card section img {
    width: 95%;
  }
}


/* style carte produit page catalogue partie test */
main .produit__content .testAffichage {
  width: 100%;
  margin: 120px auto 25px;
  padding: 0px auto 20px;
  background-color: rgba(255, 250, 250, 0.5);
  color: black;
  border-radius: 20px;
  border: 3px solid #000;
}
main .produit__content .testAffichage h2 {
  font-family: 'Smythe', cursive;
  font-size: 2rem;
  font-weight: 600;
}
main .produit__content .testAffichage p {
  font-family: 'Yesteryear', cursive;
  font-size: 1.4rem;
}
main .produit__content .testAffichage h2, main .produit__content .testAffichage p {
  margin: 20px 0;
  margin: 0px auto 15px 15px;
}
main .produit__content .testAffichage img {
  display: block;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  border-radius: 10px;
  margin: 5px auto 15px;
  border: 3px solid black;
}
main .produit__content .testAffichage h3 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0px auto 15px 15px;
  font-family: 'Yesteryear', cursive;
}
main .produit__content .testAffichage form {
  margin: 0px auto 15px 15px;
}
main .produit__content .testAffichage form label{
  font-weight: 600;
  color: black;
}
main .produit__content .testAffichage form select {
  border-radius: 5px;
  border: none;
  height: 25px;
  margin-left: 20px;
  width: 100px;
  background-color: lightgrey;
  color: black;
  font-weight: 600;
  border: 3px solid black;
  padding: 1px;
}
main .produit__content .testAffichage form select option {
  background-color: #d2c3b1;
}

main .produit__content .testAffichage button {
  margin: 0px auto 15px 15px;
  font-weight: 600;
  color: black;
  border: 3px solid black;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Smythe', cursive;
}
main .produit__content .testAffichage button:hover {
  color: lightgrey;
  background-color: black;
}

/* style carte produit page catalogue */
main .produit__content .content__produit{
  /* max-width: 1000px; */
  margin: 120px auto;
  padding: 0px auto 20px;
  background-color: rgba(255, 250, 250, 0.5);
  color: black;
  border-radius: 20px;
  border: 3px solid #000;
}
main .produit__content .content__produit img {
  display: block;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  border-radius: 10px;
  margin: 5px auto 15px;
  border: 3px solid black;
}
main .produit__content .content__produit h2 {
  font-family: 'Smythe', cursive;
  font-weight: 600;
}
main .produit__content .content__produit p {
  font-family: 'Yesteryear', cursive;
  font-size: 1.4rem;
}
main .produit__content .content__produit h2, main .produit__content .content__produit p {
  margin: 20px 0;
  margin: 0px auto 15px 15px;
}
main .produit__content .content__produit h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0px auto 15px 15px;
}
main .produit__content .content__produit form {
  margin: 0px auto 15px 15px;
}
main .produit__content .content__produit form label{
  font-weight: 600;
  color: black;
}
main .produit__content .content__produit form select {
  border-radius: 5px;
  border: none;
  height: 25px;
  margin-left: 20px;
  width: 100px;
  background-color: lightgrey;
  color: black;
  font-weight: 600;
  border: 3px solid black;
  padding: 1px;
}
/* Ajouter via le JS ** main .produit__content .content__produit form select option {
  background-color: #d2c3b1;
} */
main .produit__content .content__produit button {
  margin: 0px auto 15px 15px;
  font-weight: 600;
  color: black;
  border: 3px solid black;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
}
main .produit__content .content__produit button:hover {
  color: snow;
  background-color: black;
}

@media screen and (min-width:320px) and (max-width:545px) {
  main .produit__content .testAffichage img  {
    width: 95%;
  }
  main .produit__content .content__produit img  {
    width: 95%;
  }
}


/* style du panier */
button {
  margin: 0px auto;
  font-weight: 600;
  color: black;
  border: 3px solid black;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
}
button:hover{  
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width:320px) and (max-width:768px) {
  .panier {
    margin: 50px auto;
  }
  .panier #panierTitle {
    font-size: 1.8rem;
    margin: 120px auto;
  }
  #panierContent .cart-item{
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  #panierContent .cart-item img{
    margin-left: 0;
    margin-top: 10px;
  }
  #panierContent .cart-item .btnSupprimeProduit {
    margin: 10px auto;
  }
  #panierContent .cart-item .quantite-container {
    margin: 10px auto;
  }
  #panierContent .cart-item h3 {
    font-size: 1.2rem;
  }
}
